@reference "../tw.css";

.cm-editor {
    height: 100%;
    @apply w-2xl!;
    min-width: 100%;
    max-width: fit-content;
    @apply bg-neutral-900!;

}

.cm-content {
    @apply bg-neutral-900! flex-1;
    /* min-width: 100%; */
    
    /* max-width: fit-content; */
}